.row {
  // Will fill 100% of width if narrower than the max width
  max-width: $grid-width; // 1140px / 10 = rem size (114rem)
  margin: 0 auto; // center a block element inside a block element


  // Bottom margin on all rows except last row.
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix; // Applies to children of .row, i.e. columns

  // Attribute selector. Select all classes that start with 'col-'
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    // 2 times the width of a 1-of-3 column, plus the right-hand gutter
    width: calc( 2 *((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    // 2 times the width of a 1-of-4 column, plus the right-hand gutter
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    // 3 times the width of a 1-of-4 column, plus 2 times the right-hand gutter
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }

}