.navigation {

  &__checkbox {
    display: none;
  }
  // The button div covers the background div
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    text-align: center;
    z-index: 2000;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000; // only works on an element whose position is defined
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    transition: all .8s;
    // background-color: orangered;

    // Hide the navigation
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    @include center-horizontal-vertical;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link, // The :link selector is used to select unvisited links (is it redundant?)
    &:visited { // visited (clicked) elements with an href attribute (e.g. <a>)
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      // Using solid linear gradient
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      // Makes the transparent part cover the whole of the link by scaling it up 
      background-size: 230%;
      transition: all .4s;
    }

    span {
      margin-right: 1.5rem;
    }

    &:hover,
    &:active {
      // 100% means that the right (or bottom) edge of the background image is aligned with 
      // the right (or bottom) edge of the container. This shifts the background-image to the
      // left so only the white part displays in the link div. Use transition to make it look
      // like it's sliding in.
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  /*** FUNCTIONALITY ***/ 

  // Display (and scale up) the background when the checkbox is checked (i.e. the label 
  // (i.e. navigation__button) is clicked.
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  // Display the navigation when the checkbox is checked (i.e. the label (i.e. navigation__button) 
  // is clicked.
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  /*** ICON ***/ 
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &, // The icon element itself
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: ""; // have to set content for before or after pseudo class
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    // Using translateY() is another way to do this
    &::before { top: -.8rem }
    &::after { top: .8rem }
  }

  // Access the navigation__icon:before element when you hover on navigation_button element.
  // Move it up a bit
  &__button:hover &__icon:before {
    top: -1rem;
  }

  // Move it down a bit
  &__button:hover &__icon:after {
    top: 1rem;
  }

  // Access the navigation__icon button when the checkbox is checked.
  // The same 'checkbox hack' used on the small-large tour radio buttons
  &__checkbox:checked + &__button &__icon {
    // Don't want to remove the icon from the DOM flow  as :before and :after depend on it
    background: transparent;
  }

  &__checkbox:checked + &__button &__icon:before {
    top: 0; // move back to center
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon:after {
    top: 0; // move back to center    
    transform: rotate(-135deg);
  }

}